

<form action="/todo" method="post">
  <dl>
    <dt>
      <label for="list_name">Neue Liste einfügen:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder ="Listenname" type="text" value="">
    </dd>
    <fieldset class="actions">
      <input type="submit" value="Hinzufügen">
      <a href="/todo"> Abbrechen </a>
    </fieldset>
  </dl>
</form>